# Import Libraries

In [1]:
import pandas as pd

# Import Dataset

In [2]:
# Read the csv file into a pandas dataframe
df = pd.read_csv("https://raw.githubusercontent.com/uOttawa-Collabs/CSI4142-Winter-2024-Project/master/shopping_trends.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.dtypes

Customer ID                   int64
Age                           int64
Gender                       object
Item Purchased               object
Category                     object
Purchase Amount (USD)         int64
Location                     object
Size                         object
Color                        object
Season                       object
Review Rating               float64
Subscription Status          object
Payment Method               object
Shipping Type                object
Discount Applied             object
Promo Code Used              object
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       object
dtype: object

# Data Cleaning

## Normalize Data Types

In [5]:
# Convert the Gender to type string
df["Gender"] = df["Gender"].astype("string")

In [6]:
# Convert the Item Purchased to type string
df["Item Purchased"] = df["Item Purchased"].astype("string")

In [7]:
# Convert the Category to type string
df["Category"] = df["Category"].astype("string")

In [8]:
# Convert the Location to type string
df["Location"] = df["Location"].astype("string")

In [9]:
# Convert the Size to type string
df["Size"] = df["Size"].astype("string")

In [10]:
# Convert the Color to type string
df["Color"] = df["Color"].astype("string")

In [11]:
# Convert the Season to type string
df["Season"] = df["Season"].astype("string")

In [12]:
# Change the Subscription Status to bool type
df["Subscription Status"] = df["Subscription Status"] == "Yes"

In [13]:
# Convert the Shipping Type to type string
df["Shipping Type"] = df["Shipping Type"].astype("string")

In [14]:
# Change the Discount Applied to bool type
df["Discount Applied"] = df["Discount Applied"] == "Yes"

In [15]:
# Change the Promo Code Used to bool type
df["Promo Code Used"] = df["Promo Code Used"] == "Yes"

In [16]:
# Convert the Frequency Purchases to type string
df["Frequency of Purchases"] = df["Frequency of Purchases"].astype("string")

In [17]:
df.dtypes

Customer ID                   int64
Age                           int64
Gender                       string
Item Purchased               string
Category                     string
Purchase Amount (USD)         int64
Location                     string
Size                         string
Color                        string
Season                       string
Review Rating               float64
Subscription Status            bool
Payment Method               object
Shipping Type                string
Discount Applied               bool
Promo Code Used                bool
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       string
dtype: object

## Drop Unrequired Columns

In [18]:
# Drop the Payment Method column
df = df.drop(columns = ["Payment Method"])

# Drop the Preferred Payment Method column
df = df.drop(columns=["Preferred Payment Method"])

In [19]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,True,Express,True,True,14,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,True,Express,True,True,2,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,True,Free Shipping,True,True,23,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,True,Next Day Air,True,True,49,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,True,Free Shipping,True,True,31,Annually

## Normalize Fixed Point Numbers

In [20]:
df["Purchase Amount (USD)"] = df["Purchase Amount (USD)"] * 100
df["Previous Purchases"] = df["Previous Purchases"] * 100
df["Review Rating"] = (df["Review Rating"] * 10).astype(int)

In [21]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,5300,Kentucky,L,Gray,Winter,31,True,Express,True,True,1400,Fortnightly
1,2,19,Male,Sweater,Clothing,6400,Maine,L,Maroon,Winter,31,True,Express,True,True,200,Fortnightly
2,3,50,Male,Jeans,Clothing,7300,Massachusetts,S,Maroon,Spring,31,True,Free Shipping,True,True,2300,Weekly
3,4,21,Male,Sandals,Footwear,9000,Rhode Island,M,Maroon,Spring,35,True,Next Day Air,True,True,4900,Weekly
4,5,45,Male,Blouse,Clothing,4900,Oregon,M,Turquoise,Spring,27,True,Free Shipping,True,True,3100,Annually

## Generate Age Group

In [22]:
age_groups = []

for age in df["Age"]:
  if age < 18 or age > 70:
    raise ValueError("Age exceeded valid range")

  age_group = (age - 1) // 5 - 2
  age_groups.append(age_group)

df["Age Group"] = age_groups

In [23]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Frequency of Purchases,Age Group
0,1,55,Male,Blouse,Clothing,5300,Kentucky,L,Gray,Winter,31,True,Express,True,True,1400,Fortnightly,8
1,2,19,Male,Sweater,Clothing,6400,Maine,L,Maroon,Winter,31,True,Express,True,True,200,Fortnightly,1
2,3,50,Male,Jeans,Clothing,7300,Massachusetts,S,Maroon,Spring,31,True,Free Shipping,True,True,2300,Weekly,7
3,4,21,Male,Sandals,Footwear,9000,Rhode Island,M,Maroon,Spring,35,True,Next Day Air,True,True,4900,Weekly,2
4,5,45,Male,Blouse,Clothing,4900,Oregon,M,Turquoise,Spring,27,True,Free Shipping,True,True,3100,Annually,6

In [24]:
df.dtypes

Customer ID                int64
Age                        int64
Gender                    string
Item Purchased            string
Category                  string
Purchase Amount (USD)      int64
Location                  string
Size                      string
Color                     string
Season                    string
Review Rating              int64
Subscription Status         bool
Shipping Type             string
Discount Applied            bool
Promo Code Used             bool
Previous Purchases         int64
Frequency of Purchases    string
Age Group                  int64
dtype: object

# Check data quality

i.e. null values, duplicates, outliers

In [25]:
# Check if there are null values
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Frequency of Purchases    0
Age Group                 0
dtype: int64

In [26]:
# Check if there are duplicates
df.duplicated().sum()

0

In [27]:
# Check data types
df.dtypes

Customer ID                int64
Age                        int64
Gender                    string
Item Purchased            string
Category                  string
Purchase Amount (USD)      int64
Location                  string
Size                      string
Color                     string
Season                    string
Review Rating              int64
Subscription Status         bool
Shipping Type             string
Discount Applied            bool
Promo Code Used             bool
Previous Purchases         int64
Frequency of Purchases    string
Age Group                  int64
dtype: object

In [28]:
# Data Profiling - Get summary statistics of the dataset, to know if there are any outliers
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases,Age Group
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,5976.435897,37.499487,2535.153846,6.204615
std,1125.977353,15.207589,2368.539225,7.162228,1444.712517,3.045635
min,1.000000,18.000000,2000.000000,25.000000,100.000000,1.000000
25%,975.750000,31.000000,3900.000000,31.000000,1300.000000,4.000000
50%,1950.500000,44.000000,6000.000000,37.000000,2500.000000,6.000000
75%,2925.250000,57.000000,8100.000000,44.000000,3800.000000,9.000000
max,3900.000000,70.000000,10000.000000,50.000000,5000.000000,11.000000

# Generate Tables

## Customer Dimension

In [29]:
df_customer = df[[
    "Customer ID",
    "Age",
    "Gender",
    "Subscription Status",
    "Previous Purchases",
    "Frequency of Purchases"
]]
df_customer.head()

,Customer ID,Age,Gender,Subscription Status,Previous Purchases,Frequency of Purchases
0,1,55,Male,True,1400,Fortnightly
1,2,19,Male,True,200,Fortnightly
2,3,50,Male,True,2300,Weekly
3,4,21,Male,True,4900,Weekly
4,5,45,Male,True,3100,Annually

## Shipping Type Dimension

In [30]:
list_shipping_type = df["Shipping Type"].unique().tolist()
list_shipping_type.sort()

df_shipping_type = pd.DataFrame({
    "Shipping Type ID": range(1, len(list_shipping_type) + 1),
    "Shipping Type": list_shipping_type
})
df_shipping_type

   Shipping Type ID   Shipping Type
0                 1  2-Day Shipping
1                 2         Express
2                 3   Free Shipping
3                 4    Next Day Air
4                 5        Standard
5                 6    Store Pickup

## Product Dimension

In [31]:
df_product = df[[
    "Item Purchased",
    "Category",
    "Size",
    "Color"
]].drop_duplicates().reset_index(drop=True)
df_product.insert(0, "Product ID", range(1, len(df_product) + 1))
df_product.head()

   Product ID Item Purchased  Category Size      Color
0           1         Blouse  Clothing    L       Gray
1           2        Sweater  Clothing    L     Maroon
2           3          Jeans  Clothing    S     Maroon
3           4        Sandals  Footwear    M     Maroon
4           5         Blouse  Clothing    M  Turquoise

## Location Dimension

In [32]:
list_location = df["Location"].unique().tolist()
list_location.sort()

df_location = pd.DataFrame({
    "Location ID": range(1, len(list_location) + 1),
    "Location": list_location
})
df_location.head()

   Location ID    Location
0            1     Alabama
1            2      Alaska
2            3     Arizona
3            4    Arkansas
4            5  California

## Age Group Dimension

In [33]:
# Calculate total purchase amount per age group
age_group_min = df["Age Group"].min()
age_group_max = df["Age Group"].max()
total_purchase_amount_map = [0] * (age_group_max - age_group_min + 1)

for index, row in df.iterrows():
  amount = row["Purchase Amount (USD)"]
  group = row["Age Group"]

  if group < 1:
    raise ValueError("Invalid age group")

  total_purchase_amount_map[group - age_group_min] += amount

# Construct intervals
age_group_intervals = ["[18, 20]"]
for i in range(21, df["Age"].max(), 5):
  age_group_intervals.append(f"[{i}, {i + 4}]")

# Construct dataframe
df_age_group = pd.DataFrame({
    "Age Group ID": list(range(age_group_min, age_group_max + 1)),
    "Interval": age_group_intervals,
    "Total Purchase Amount": total_purchase_amount_map
})
df_age_group

    Age Group ID  Interval  Total Purchase Amount
0              1  [18, 20]                1250400
1              2  [21, 25]                2212600
2              3  [26, 30]                2264900
3              4  [31, 35]                2169300
4              5  [36, 40]                2150000
5              6  [41, 45]                2173400
6              7  [46, 50]                2239500
7              8  [51, 55]                2322400
8              9  [56, 60]                2209200
9             10  [61, 65]                2226000
10            11  [66, 70]                2090400

## Season Dimension

In [34]:
list_season = ["Spring", "Summer", "Fall", "Winter"]

df_season = pd.DataFrame({
    "Season ID": range(1, len(list_season) + 1),
    "Season": list_season
})
df_season.head()

   Season ID  Season
0          1  Spring
1          2  Summer
2          3    Fall
3          4  Winter

## Fact Table

In [35]:
# Construct reverse lookup maps
rlookup_shipping_type = {
    row["Shipping Type"]: row["Shipping Type ID"]
    for _, row in df_shipping_type.iterrows()
}
rlookup_product = {
    (
        row["Item Purchased"],
        row["Category"],
        row["Size"],
        row["Color"]
    ): row["Product ID"]
    for _, row in df_product.iterrows()
}
rlookup_location = {
    row["Location"]: row["Location ID"]
    for _, row in df_location.iterrows()
}
rlookup_season = {
    row["Season"]: row["Season ID"]
    for _, row in df_season.iterrows()
}

list_fact_shipping_type_id = [
    rlookup_shipping_type.get(item)
    for item in df["Shipping Type"]
]
list_fact_product_id = [
    rlookup_product.get(tuple(row))
    for _, row in df[[
        "Item Purchased", "Category", "Size", "Color"
    ]].iterrows()
]
list_fact_location_id = [
    rlookup_location.get(item)
    for item in df["Location"]
]
list_fact_season_id = [
    rlookup_season.get(item)
    for item in df["Season"]
]

# Build fact table
df_fact = pd.DataFrame({
    # Customer IDs are unique, no need for any processing
    "Customer ID": df["Customer ID"],
    "Shipping Type ID": list_fact_shipping_type_id,
    "Product ID": list_fact_product_id,
    "Location ID": list_fact_location_id,
    "Season ID": list_fact_season_id,
    "Age Group ID": df["Age Group"],
    "Purchase Amount (USD)": df["Purchase Amount (USD)"],
    "Review Rating": df["Review Rating"],
    "Discount Applied": df["Discount Applied"],
    "Promo Code Used": df["Promo Code Used"],
})
df_fact.head()

,Customer ID,Shipping Type ID,Product ID,Location ID,Season ID,Age Group ID,Purchase Amount (USD),Review Rating,Discount Applied,Promo Code Used
0,1,2,1,17,4,8,5300,31,True,True
1,2,2,2,19,4,1,6400,31,True,True
2,3,3,3,21,1,7,7300,31,True,True
3,4,4,4,39,1,2,9000,35,True,True
4,5,3,5,37,1,6,4900,27,True,True

# Write Processed Data

In [36]:
config_write_to_csv = False

# postgresql://username:password@host:port/database
config_database_connection_string_filename = "connection.txt"
config_database_query_add_constraints_filename = "constraints.sql"

In [37]:
import re


def convert_column_name(name):
    name = re.sub(r"[^\w\ ]", "", name)
    name = name.strip()
    name = name.lower()
    name = name.replace(" ", "_")
    return name

In [38]:
def write_to_csv(name_dataframe_pairs):
    for (name, dataframe) in name_dataframe_pairs:
        dataframe.to_csv(f"{name}.out.csv", index=False)

In [39]:
import sqlalchemy
import csv
import io


def get_connection_string():
    with open(config_database_connection_string_filename) as f:
        return f.read().strip()


def postgres_copy_method(table, conn, keys, data_iter, pre_truncate=False, fatal_failure=False):
    connection = conn.connection
    cursor = connection.cursor()

    string_io = io.StringIO()
    writer = csv.writer(string_io, quoting=csv.QUOTE_MINIMAL)
    writer.writerows(data_iter)
    string_io.seek(0)

    columns = ", ".join(f'"{key}"' for key in keys)
    table_name = "{}.{}".format(table.schema, table.name) if table.schema else table.name

    # Bulk load
    sql_query = f"COPY {table_name} ({columns}) FROM STDIN WITH CSV"
    cursor.copy_expert(sql=sql_query, file=string_io)

    return cursor.rowcount


def write_to_database(name_dataframe_pairs):
    engine = sqlalchemy.create_engine(get_connection_string())
    # Copy dataframe to database
    for (name, dataframe) in name_dataframe_pairs:
        dataframe.to_sql(
            name,
            engine,
            schema="public",
            index=False,
            if_exists="replace",
            method=postgres_copy_method
        )
    # Add constrains (e.g. PK and FK)
    with open(config_database_query_add_constraints_filename) as f:
        query_add_constraints = f.read()
    with engine.connect() as connection:
        connection.execute(query_add_constraints)

In [40]:
name_dataframe_pairs = [
    ("customer", df_customer.copy()),
    ("shipping_type", df_shipping_type.copy()),
    ("product", df_product.copy()),
    ("location", df_location.copy()),
    ("age_group", df_age_group.copy()),
    ("season", df_season.copy()),
    ("fact", df_fact.copy())
]

for (_, dataframe) in name_dataframe_pairs:
    for column in dataframe.columns:
        dataframe.rename(
            columns={column: convert_column_name(str(column))},
            inplace=True
        )

if config_write_to_csv:
    write_to_csv(name_dataframe_pairs)
else:
    write_to_database(name_dataframe_pairs)